/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Oct-2014, 15:49:26
    Author     : Maxwell
*/

.shadow-top {
	background: url(../img/main-shadow.png) repeat-x 0 0;
	width: 100%;  height: 46px;  
}